requests>=2.32.5,<3
beautifulsoup4>=4.14.3,<5
fake-useragent>=2.2.0,<3
prettytable>=3.17.0,<4
lxml>=6.0.2,<7
platformdirs>=4.9.4,<5
DrissionPage>=4.1.1.2,<5
json-repair>=0.58.6,<1
tqdm>=4.67.3,<5
quickjs>=1.19.4,<2
pycountry>=26,<27
brotli>=1.0.9,<2